<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hk.hku.cs.comp7506_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="hk.hku.cs.comp7506_project.Forum.application.CarbonForumApplication"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:fullBackupContent="@xml/mybackupscheme"
        android:fullBackupOnly="true"
        android:roundIcon="@drawable/ic_launcher_1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".News.NewsPage" />
        <activity
            android:name=".Wiki.WikiPage"
            android:label="@string/title_activity_wiki_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Wiki.StockLine"></activity>

        <activity
            android:name="hk.hku.cs.comp7506_project.Forum.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hk.hku.cs.comp7506_project.MainActivity" />
        </activity>
        <activity
            android:name="hk.hku.cs.comp7506_project.Forum.TopicActivity"
            android:label="@string/title_activity_topic"
            android:parentActivityName="hk.hku.cs.comp7506_project.MainActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hk.hku.cs.comp7506_project.MainActivity" />
        </activity>
        <activity
            android:name="hk.hku.cs.comp7506_project.Forum.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="hk.hku.cs.comp7506_project.MainActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hk.hku.cs.comp7506_project.MainActivity" />
        </activity>

        <service
            android:name="hk.hku.cs.comp7506_project.Forum.service.PushService"
            android:exported="false" >
        </service>

        <activity android:name="hk.hku.cs.comp7506_project.Forum.ReplyActivity" >
        </activity>

        <service
            android:name="hk.hku.cs.comp7506_project.Forum.service.ReplyService"
            android:exported="false" >
        </service>

        <activity
            android:name="hk.hku.cs.comp7506_project.Forum.NotificationsActivity"
            android:label="@string/title_activity_notifications"
            android:parentActivityName="hk.hku.cs.comp7506_project.MainActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hk.hku.cs.comp7506_project.MainActivity" />
        </activity>
        <activity android:name="hk.hku.cs.comp7506_project.Forum.NewActivity" >
        </activity>
        <activity
            android:name="hk.hku.cs.comp7506_project.Forum.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="hk.hku.cs.comp7506_project.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hk.hku.cs.comp7506_project.MainActivity" />
        </activity>

        <service
            android:name="hk.hku.cs.comp7506_project.Forum.service.NewService"
            android:exported="false"></service>
    </application>

</manifest>
